html,body{
    height:100%;
    width:100%;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
}

.allcont{
    background-color: #d2d2d2;
    width:100%;
    gap:20%;
    /* margin: auto; */
    height:60px;
    /* margin-top: 5px; */

}
#headline{
   font-size: 20px;
   margin-left: 40vw;
   margin-top: 20px;
}

.flex{
    display: flex;
}
.left img{
    width:200px;
    height:50px;
    margin-top: 15px;
}
/* .left{
    justify-content: flex-end;
    gap:20px;
} */
.left input{
    width:650px;
    margin-right: 150px;
    height:35px;
    margin-left: 130px;
   text-align: center;
}
.all{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    display: block;
    margin-top: 10px;
    height: 120px;

}
.left div img{
    /* margin-top: 25px; */
    width:25px;
    height:25px;
    margin: auto;
    display: block;
    margin-left: 20px;
  
}
.center p{
   margin-right: 25px;
   
}
.center p a{
    text-decoration: none;
    color: black;
    
 }
#input{
    margin-top: 7px;
}
#logo{
    margin-top: 4px;
    margin-left: 30px;
}
.types{
    display:flex;
    justify-content: space-evenly;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    font-size: 15px;
}
.signin{
    width:100%;
    text-align: center;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    height:250px;
    margin-top: 0px;
    padding-top:50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.signin h1{
    color:#3a2a7c;
}
button{
    background-color: #3a2a7c;
    color:white;
    border:none;
    padding:15px;
    width:150px;
    cursor: pointer;
   
}
.table{
    background-color: #f5f5f5;
    gap:20px;
    width:100%;
    margin-top: 10px;

}
.body{
    text-align: center;
}
.body td,.body th{
    font-size: 20px;
    
}
.head th{
    font-size: 25px;
   
}
#ship,#cat{
    font-size: 25px;
}
#last{
    width:100%;
}
.navbar{
    position: fixed;
    background-color: white;
    top:0px;
}
.signin{
    margin-top: 215px;
}
.hmove{
    display: flex;
    position: relative;
    top:0;right: 0;
    text-align: center;
    padding-block: 15px;
}
.hslide{
    width:100%;
    flex-shrink: 0;
   
}
.hwrap{
    width: 100%;
    height:50px;
    overflow: hidden;
    background-color: #3a2a7c;
    color: white;
    /* text-align: center; */
   
    
}

@keyframes slideh{
    0% {right: 0% ;}
    30% {right: 0% ;}
    33% {right: 100% ;}
    63% {right: 100% ;}
    66% {right: 200% ;}
    97% {right: 200% ;}
    100% {right: 0% ;}
}

.hmove{animation: slideh linear 5s infinite;}
 